body{
    background: url("img/background.jpg") no-repeat;
    background-size: 100%;
}

.grid{
    width: 70%;
    grid-gap: 2%;
    margin: 100px auto;
    display: grid;
    grid-template-areas: "header header header header" "about about about skills" "education education experience experience" "contact contact contact contact";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.header,.about, .skills, .experience, .education, .contact{
    height: 400px;
    box-shadow: 1px 1px 5px grey;
}

.header{
    height: 400px;
    background: #21bb63;

    color: #fff;
    position: relative;
    grid-area: header;
}

.header h1, .header h2, .header address, .icon{
    position: relative;
    left: 3vw;
    top: 5vw;

}

.header h1{
    font: 2.5vw sans-serif;
    text-shadow: 1px 1px 2px #2f2a30;
    top: 10%;
}

.header h2{
    font: 2vw sans-serif;
    text-shadow: 1px 1px 2px #2f2a30;
}

#photo {
    height: 400px;
    position: absolute;
    right: 0;
}


.icon{
    width: 40px;
}


.about{
    grid-area: about;
}

.skills {
    grid-area: skills;
}

.experience{
    grid-area: experience;
}

.education{
    grid-area: education;
}

.contact{
    grid-area: contact;
}







@media(max-width: 1100px ){
    .header,.about, .skills, .experience, .education, .contact{
        width: 90%;
    }
}

@media(max-width: 700px ){
    .header,.about, .skills, .experience, .education, .contact{
        width: 100%;
    }

}
