body{
    background: url("img/background.jpg") no-repeat;
    background-size: 100%;
}


.header,.about, .education, .experience, .skills, .contact{
    width: 70%;
    height: 400px;
    margin: 100px auto;
    box-shadow: 1px 1px 5px grey;
}


.header{
    height: 400px;
    background: #21bb63;
    margin: 150px auto;
    margin-bottom: -50px; /*переделать*/
    color: #fff;
    position: relative;
}

.header h1, .header h2, .header address, .icon{
    position: relative;
    left: 3vw;
    top: 5vw;

}

.header h1{
    font: 2.5vw sans-serif;
    text-shadow: 1px 1px 2px #2f2a30;
    top: 10%;
}

.header h2{
    font: 2vw sans-serif;
    text-shadow: 1px 1px 2px #2f2a30;
}

#photo {
    height: 400px;
    position: absolute;
    right: 0;
}


.icon{
    width: 40px;
}



.about{
    height: 200px;
}






@media(max-width: 1100px ){
    .header{
        width: 90%;
    }
}

@media(max-width: 700px ){
    .header{
        width: 100%;
    }

}
